.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  height: 250px;
  width: 250;
  margin-left: 10px;
  margin-right: 10px;
  background-position: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}

.card-category {
  background-size: 100% 100%;
}




form.form-example {
    display: table;
    margin-left: 400px;
    margin-top: 50px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
}

div.form-example {
    display: table-row;
    margin-left:150px;
}

label, input {
    display: table-cell;
    margin-bottom: 10px;
}

label {
    padding-right: 10px;
}





// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

