<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1454618454636-a42c7330ccce?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);">
  <div class="container">
    <h1>Welcome
    <% if current_user.nil? %>
     <strong> to Rent My Outdoor</strong>!</h1>
     <p>The place to rent your outdoor equipment</p>
    <%= link_to "Start now", new_user_registration_path, class: "btn btn-light" %>

     <% else %>

     <strong> to your dashboard </strong>
     <%= current_user.name %>
       <p>Your adventure starts here!</p>

    <%#= link_to "Start now", new_user_registration_path, class: "btn btn-light" %>

     <% end  %>
    <%#= link_to "Browse Products", products_path, class: "btn btn-dark" %>
  </div>
</div>
<div class="cards">
  <div class="card-trip">
    <img src="https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2F4.bp.blogspot.com%2F-PC3_bmR8JwM%2FTqY1nmKdTXI%2FAAAAAAAAJC0%2FvlUY9Gjb2y0%2Fs1600%2F01--BTWIN-ROCKRIDER-5.0-RIGHTSIDE.JPG&f=1" />
    <div class="card-trip-infos">
      <div>
        <h2>BTWIN</h2>
        <p>Available now, good condition!</p>
      </div>
      <h2 class="card-trip-pricing">10€</h2>
      <img src="https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2Fghcischedule.anitaborg.org%2Fwp-content%2Fthemes%2Fscheduler-gracehopper%2Fimages%2Fspeakers%2Fusr2093522561640207400.jpg&f=1" class="card-trip-user avatar-bordered" />
    </div>
  </div>


  <div class="card-trip">
    <img src="https://www.himalayanmagictreks.com/pagegallery/trekking-equipments24.jpg" />
    <div class="card-trip-infos">
      <div>
        <h2>Trekking equipment</h2>
        <p>Very good condition!</p>
      </div>
      <h2 class="card-trip-pricing">15€</h2>
      <img src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.NDuftR7tPoif2Cx5yF2OHAHaHa%26pid%3DApi&f=1" class="card-trip-user avatar-bordered" />
    </div>
  </div>

  <div class="card-trip">
    <img src="https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2Fskitrucks.com%2FPhotos%2FProducts%2Fskis%2Fpr45ua.JPG&f=1" />
    <div class="card-trip-infos">
      <div>
        <h2>Ski</h2>
        <p>Great for skiing!</p>
      </div>
      <h2 class="card-trip-pricing">9€</h2>
      <img src="https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.bianoti.com%2Fwp-content%2Fuploads%2F2015%2F12%2Ffonds-ecran-femmes-jolie-15.jpg&f=1" class="card-trip-user avatar-bordered" />
    </div>
  </div>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
    RentMyOutdoor.com | Code with <i class="fas fa-heart"></i> in Marseille
  </div>
</div>
