


.card-category-sking {
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 0 20px 0 20px;
  background-position: center;
  background-size: cover;

}

.card-category-sking > img {
  height: 200px;
  width: 100%;

  background-position: center;
  background-size: cover;

}

.card-category-sking h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  padding: 2px;
}
.card-category-infos.card-category-pricing p{
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative
}
.card-category-infos.card-category-pricing h2{
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-category-sking p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  padding-left: 2px;
}
.cards {
  padding-bottom: 30px;
}

.cards p{
  align-content: center;
  font-family: Helvetica;
}

.card-category {
  background-position: center;
  background-size: cover;
  color:white;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin: 0 20px 0 20px;
  height: 190px;

}
.card-category p {
  font-size: 16px;
  opacity: 0.8;
}
.cards-cat{
  margin: 8px 8px 8px 8px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}
.cards-cat-1{
  display: flex;
  padding-bottom: 20px;
}

.card-category-treking {
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 0 20px 0 20px;
}

.card-category-treking > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  padding-top: 10px;
  padding-left: 5px;
}

.card-category-treking h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  padding: 2px;
}
.cards-cat-trek-infos.cards-cat-trek-pricing p{
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative
}
.cards-cat-trek-infos.cards-cat-trek-pricing h2{
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
.card-category-treking p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  padding-left: 5px;
}

.cards-cat-trek{
  padding-top: 10px;
  margin: 8px 8px 8px 8px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}
.cards-cat-trek-1{
  width: 100%;
  grid-gap: 20px;
  display: flex;
  padding-bottom: 20px;
}


.card-category-cycling {
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 0 20px 0 20px;
}

.card-category-cycling img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-category-cycling h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  padding: 2px;
}
.cards-cat-cycle-infos.cards-cat-cycle-pricing p{
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative
}
.cards-cat-cycle-infos.cards-cat-cycle-pricing h2{
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
.card-category-cycling p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  padding-left: 2px;
}

.cards-cat-cycle{
  padding-top: 10px;
  margin: 8px 8px 8px 8px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;

}
.cards-cat-cycle-1{
  width: 100%;
  grid-gap: 20px;
  display: flex;
  padding-bottom: 120px;
}
.verif {
  text-align: right;
  padding-right: 10px;
}
.cards-cat-cycle-pricing {
  font-size: 12px;
  text-align: right;
  padding-right: 10px;

}
.cards-cat-trek-pricing {
  font-size: 12px;
  text-align: right;
  padding-right: 10px;
}
.card-category-pricing {
  font-size: 12px;
  text-align: right;
  padding-right: 10px;

}
.carding {
  display: card;
  justify-content: space-between;
}
.carding img {
  width: 250px;
  height: 150px;
  border-radius: 20%;
  display: grid;
  box-shadow: 0 1px 2px r1 imggba(0,0,0,0.2);
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  margin-top: 20px;

}
.carding-cat-infos h2{
  font-size: 18px;
  color: white;
}

.cardings h4 {
font-size: 28px;
  color: white;
}
.container {
  display: grid;
}

.card-category-infos p{
  font-size: 14px;
  padding-bottom: 10px;
  margin-top: 10px;
}

.card-category-infos h2{
  font-size: 16px;
  padding-bottom: 10px;
  margin-top: 10px;
}
.cards-cat-trek-infos p{
  font-size: 14px;
  padding-bottom: 10px;
  margin-top: 10px;
}

.cards-cat-trek-infos h2{
  font-size: 16px;
  padding-bottom: 10px;
  margin-top: 10px;
}
.cards-cat-cycle-infos p{
  font-size: 14px;
  padding-bottom: 10px;
  margin-top: 10px;
}
.cards-cat-cycle-infos h2{
  font-size: 14px;
  padding-bottom: 10px;
  margin-top: 10px;
}
