
  <div class="cards">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://image.freepik.com/photos-gratuite/moto-sport-rouge_1159-812.jpg?1">
      Product
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://image.freepik.com/photos-gratuite/gros-plan-disque-frein-mecanique-nomme-velo-eclair-artificiel-rouge_88135-888.jpg)">
      Description
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://image.freepik.com/free-vector/money_53876-25501.jpg)">
     Price
    </div>
  </div>

<form action="" method="get" class="form-example">
  <div class="form-example">
    <label for="date">From: </label>
    <input type="text" date="date" id="date" required>
  </div>
  <div class="form-example">
    <label for="date">to: </label>
    <input type="text" date="date" id="date" required>
  </div>
  <div class="form-example">
    <label for="number">Number of persons: </label>
    <input type="text" number="number" id="number"
  <div class="form-example">
    <input type="submit" value="Book now!">
  </div>
</form>


